*
{
	margin:0;
	padding: 0;
}

body{
	font-family: sans-serif;
	background-image: url();
	opacity: 1;
	background-size: cover;

}

#contain
{
	position: sticky;
	z-index:10;
	top: 0;

	
}
.navbar
{	

	background-image:linear-gradient(to right,#245787,#234d34);
	animation: drop 2s ease;
}

@keyframes drop
{
	0%
	{
        opacity: 0;
        transform: rotateY(-80deg);
	}
	100%
	{
		opacity: 5;
		transform: translateZ(0px);
	}
}

.navbar-brand
{
	font-size: 25px;
	color: white !important;
	font-weight: 1000;
}

.navbar-brand:hover
{
	transform: scale(1.1);
}

.navbar-nav li a
{
	color:black !important;
	font-weight: 500;
	color: black;

}
.navbar-nav li a:hover
{

 background-color:#28557346;
 border-radius: 10px;

}

/*----------------------------------Home--------------------------------------------*/
#home
{
   /*background-image:linear-gradient(to right ,#245787,#234d34 );*/
   color: black;
   padding:3%;
   /*background-color: #245787;*/
   animation: dro 3s ease;

}

@keyframes dro
{
	0%
	{
        opacity: 0;
        transform: translateY(-80px);
	}
	100%
	{
		opacity: 5;
		transform: translateY(0px);
	}

}

.promo-title
{
	font-size: 40px;
	margin-top: 100px;
	font-weight: 100;
	color: black;
}

.fashion
{
 margin-top: 100px;
 margin-left: 200px;
 width: 50%;
}

.my
{
	background-image: linear-gradient(to right ,#245787,#234d34);
	border-radius:20px;
	outline: none;
	border-color: cyan !important;
	width: 190px;
	box-shadow: 1px 2px;
	
}
.my:hover
{
	transform: scale(1.1);
	color:yellow;
}

/*------------------------------Art-------------------------*/
#art
{ 
padding:20px 100px;
}
.art-img
{
	margin-top: 20px;
	width: 200px;
hieght:200px;
box-shadow:2px 5px 2px 0px grey;

}
.art
{
	padding: 20px;
}
h4
{
	font-weight: 600;
	padding: 10px;
	margin-top: 25px;
}
.title
{
	margin-top: 40px;
}

.title::after
{
	content: "";
	height: 3px;
	width: 200px;
	background-image:linear-gradient(to right ,#245787,#234d34 );
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.btn-primary
{
	background-image:linear-gradient(to right ,#245787,#234d34);	
	border-radius: 20px;
	padding: 8px 25px;
	margin-top: 10px;
}

/*---------------------management--------------------------------*/
#manage
{
/*background-image:linear-gradient(to right ,#245787,#234d34);*/
padding-top: 40px;
padding-bottom: 40px;
}

.manage ul li
{
padding: 10px;
}

.manage ul
{
margin-left: 30px;
}

/*----------------------Mehandhi--------------------------------*/
#mehan
{

}
#contact
{
background-color: black;
padding-top: 10px;
padding-bottom: 10px;;
color: white !important;
}